.title1 {
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 6.25rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
}

.title2 {

    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;

}

.title3 {
    color: var(--color-black);
    font-family: var(--font-secundary);
    font-size: 1.1875rem;
    font-weight: 700;
}

.paragraph {
    color: var(--color-black);
    font-family: var(--font-secundary);
    font-size: 1.1875rem;
    font-weight: 400;  
}

.price {
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 400;
}